<h1>Listado de Notas</h1>
<h2>Revisar materias y notas obtenidas</h2>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="tabla_datos">


  <!-- Nombre -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Nota primer -->
  <ng-container matColumnDef="nota_parcial1">
    <th mat-header-cell *matHeaderCellDef> Nota Primer Parcial </th>
    <td mat-cell *matCellDef="let element"> {{element.nota_parcial1}} </td>
  </ng-container>

  <!-- Nota segundo -->
  <ng-container matColumnDef="nota_parcial2">
    <th mat-header-cell *matHeaderCellDef> Nota Segundo Parcial </th>
    <td mat-cell *matCellDef="let element"> {{element.nota_parcial2}} </td>
  </ng-container>

  <!-- Nota final -->
  <ng-container matColumnDef="nota_final">
    <th mat-header-cell *matHeaderCellDef> Nota Final </th>
    <td mat-cell *matCellDef="let element"> {{element.nota_final}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


